.DS_Store
*.x
*.o
*.pdf
*.bkp
*.user
*.eps
*.gnuplot
*.aux
*.blg
*.log
*.out
*.synctex.*
*.thm
*.toc
*.a
*.swp
*.nav
*.dat
*.txt
*.owo

#specific files
backup/test/main
backup/gui/test

#directories
backup/gui/build/*
backup/gui/bin/*
backup/gui/images/own/*
src/bin/*
src/gui/build/*
src/gui/bin/*
src/gui/images/own/*


